html, body {
    /* overflow: hidden; */
    height: 100%;
}

body {
    background: #d7d7d7;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
}

.title {
    font-family: sans-serif;
    text-align: center;
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 20px;
    color: #2f4858; 
    align-self: center;
    width: 100%;
}

.team-member{
    display: flex; 
    width: 90%;
    flex-direction: row;
    gap: 20px; 
    padding-top: 20px;
    align-items: center;
    background-color: #10597d32;
    border-radius: 10px;
    margin: 10px;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3),
        inset -2px -2px 5px rgba(255,255,255,0.5);
    transition: 0.3s ease;
}

.team-member:hover {
    transform: scale(1.05);
}

.profile{
    flex: 1;
    text-align: center;
}

.team-photo{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.bio{
    flex: 2;
    padding-right:50px;
    line-height: 25px;
}
h3{
    color:#2f4858; 
}
p{
    color: #2f4858; 
}
.credit-line {
    position: relative;
    top: 580px;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    color: #5e5e5e;
    z-index: 1;
}

#credit {
    font-size: 8px;
    text-align: center;
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}