.header {
    width: 230px;
    height: 60px;
    background-color: #a8d1e0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(-230px);
    transition: transform 230ms ease-in-out;
}

#side-bar-menu, .sidebar-icon-toggle {
    position: relative;
    z-index: 10;
}

#side-bar-menu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 230px;
    margin-top: 60px;
    transform: translateX(-230px);
    transition: transform 230ms ease-in-out;
    background: linear-gradient(180deg, #a8d1e0 0%, #044967 100%);
}

.side-bar-menu-inner{
    margin:0;
    padding:0;
}

.side-bar-menu-inner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    margin-top: 15px;
}

.side-bar-menu-inner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

input[type="checkbox"]:checked ~ .header {
    transform: translateX(0);
}

input[type="checkbox"]:checked ~ #side-bar-menu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebar-icon-toggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    margin-left: 15px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    box-shadow: 5px 0 10px #1e526578;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    box-shadow: 5px 0 10px #1e526578;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    box-shadow: 5px 0 10px #1e526578;
}

input[type=checkbox]:checked ~ .sidebar-icon-toggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebar-icon-toggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebar-icon-toggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.tab {
    font-family: 'Segoe UI';
    margin-left: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #aaa;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.3s ease-in;
}

.tab:hover,
.tab.active {
    color: #044d67;
}